# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
secret.json
MinecraftForge-Credits.txt
mcp_stable-39-1.12.zip
setup.bat
